/*
  ========================================
  Custom Styles
  ========================================
*/

body {
  padding-top: 5rem;
}

/*
  ========================================
  About
  ========================================
*/

.about {
    padding: 3rem 1.5rem;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}

/*
  ========================================
  Portfolio
  ========================================
*/

.portfolio {
    text-align: center;
    border-radius: 5px;
    border: 1px solid;
}

/*
  ========================================
  Project
  ========================================
*/

.project{
    padding: 7rem 1.5rem;
}

/*
  ========================================
  Connect
  ========================================
*/

.connect{
    text-align: center;
    padding: 3rem 1.5rem;
    border: 1px solid;
    border-radius: 5px;
}
/*
  ========================================
  Footer
  ========================================
*/

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}