/*
  ========================================
  Custom Styles
  ========================================
*/

/*
  ========================================
  Project
  ========================================
*/

.project{
    padding: 7rem 1.5rem;
}

/*
  ========================================
  Footer
  ========================================
*/

.footer {
  background-color: #bbb7b7;
}